<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Home</title>
    <link rel="stylesheet" href="static2/assets/css/bootstrap.css">
	<link rel="stylesheet" href="static2/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="static2/assets/css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"> <img src="static2/assets/imgs/lol-logo.png" width="30px">
            </a>

        </div>
        <!-- Collect the nav links for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">HOME</a>
                </li>
                <li><a href="#about">PICK</a>
                </li>
                <li><a href="/profile/{{ current_user.id }}">CUENTA</a></li>
                </li>
                <li><a href="#free-text">GUIAS</a>
                </li>
                <li><a href="/logout">CERRAR SESION</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!--End Navigation -->


<!--Header section  -->
<div class="container" id="home">
    <div class="row text-center ">
        <div class="col-md-3 head-main ">
            <img src="static2/assets/imgs/Dingus.png" width="150px">
            <h3><a href="#home">PATROCINIO</a></h3>

        </div>
        <div class="col-md-3 head-main">
            <img src="static2/assets/imgs/picklogo.png" width="150px">
            <h3><a href="#about">PICKS</a></h3>
        </div>

        <div class="col-md-3 head-main">
            <img src="static2/assets/imgs/cuenta.jpg" width="150px">
            <h3><a href="#services">CUENTA</a></h3>
        </div>

        <div class="col-md-3 head-main">
            <img src="static2/assets/imgs/challenger.png" width="150px">
            <h3><a href="#free-text">CAMPEONES</a></h3>
        </div>
    </div>
</div>
<!--End Header section  -->


<!--About Section-->
<section class="for-full-back color-light " id="about">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1>Picks Fuertes 14.10</h1>
                <h4>
                    <strong>Clavando la Jugada: Domina con Nuestros Picks Fuertes de LoL.
                    </strong>
                </h4>
            </div>

        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2>Temporada 2024</h2>
                <p>
                    ¡Prepárate para aplastar la competencia con nuestra selección de picks fuertes en League of Legends!
                    Desde campeones dominantes en el carril hasta estrategias imparables en el juego temprano, nuestra
                    guía te proporciona las herramientas necesarias para llevar tu juego al siguiente nivel. Descubre
                    las sinergias más poderosas, domina los enfrentamientos clave y lidera a tu equipo hacia la victoria
                    con confianza. Con nuestra ayuda, estarás listo para enfrentarte a cualquier desafío que se presente
                    en el campo de batalla virtual de Lo
                </p>
            </div>

        </div>
        <div class="row text-center space-pad">
            <div class="col-md-3 ">

                <div class="about-div">
                    <img src="static2/assets/imgs/top.jpg" width="100px">
                    <h3>Top</h3>
                </div>


            </div>
            <div class="col-md-3 ">

                <div class="about-div">
                    <img src="static2/assets/imgs/bot.jpg" width="100px">
                    <h3>Bot</h3>
                </div>

            </div>
            <div class="col-md-3 ">

                <div class="about-div">
                    <img src="static2/assets/imgs/mid.jpg" width="100px">
                    <h3>Mid</h3>
                </div>

            </div>
            <div class="col-md-3 ">

                <div class="about-div">
                    <img src="static2/assets/imgs/jgl.jpg" width="100px">
                    <h3>Jungle</h3>
                </div>

            </div>
        </div>

    </div>


</section>

<!--End About Section-->

<!-- Services Section-->
<section class="for-full-back color-white" id="services">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1>Servicios de Cuenta</h1>
                <h4>
                    <strong>Historial de Cuenta: Revive tus Triunfos y Derrotas en la Grieta del Invocador.
                    </strong>
                </h4>
            </div>

        </div>

        <div class="row  space-pad">
            <div class="col-md-3 ">

                <div class="about-div text-center ">
                    <img src="static2/assets/imgs/leaguelogo.png" width="180px">
                    <h3>Noticias de League of legends </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>

                </div>

            </div>
            <div class="col-md-6 ">
                <p class="text-center">
                    Sumérgete en la crónica de tus batallas pasadas con nuestro Historial de Partidas. Desde tus
                    victorias más épicas hasta tus desafíos más difíciles, esta sección te ofrece un registro detallado
                    de cada enfrentamiento en la Grieta del Invocador.
                </p>
                <p>
                    <a href="#" class="btn btn-default">Historial </a>
                    <a href="#" class="btn btn-default">Clasificatorias </a>
                    <a href="#" class="btn btn-default">Reclutamiento </a>
                    <a href="#" class="btn btn-default">Porcentajes </a>
                </p>
                <p>
                    Analiza tus estrategias, estudia tus estadísticas y revive los momentos cruciales que definieron tus
                    partidas. Con herramientas interactivas y datos completos, nuestro Historial de Partidas te brinda
                    una visión completa de tu progreso y te ayuda a planificar tu camino hacia la grandeza en League of
                    Legends.
                </p>


            </div>

            <div class="col-md-3 ">

                <div class="about-div text-center">


                    <img src="static2/assets/imgs/leclogo.jpg" width="200px">
                    <h3>Mira la Emea Championship </h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>

            </div>
        </div>

    </div>


</section>

<!--End Services Section-->

<!-- Free Section -->

<section class="for-full-back color-light " id="free-text">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1>Guías y Tutoriales de Campeones</h1>
                <h4>
                    <strong> Fundamentos hasta estrategias avanzadas, estas guías te ayudarán a dominar a tus campeones
                        favoritos y a comprender mejor sus habilidades, mecánicas y tácticas
                    </strong>
                </h4>
            </div>

        </div>
        <div class="row text-center space-pad">
            <div class="col-md-4 ">

                <div class="free-div">
                    <h3>Objetos</h3>
                </div>

            </div>
            <div class="col-md-4 ">

                <div class="free-div">
                    <h3>Habilidades y Combos</h3>

                </div>

            </div>
            <div class="col-md-4 ">

                <div class="free-div">
                    <h3>Roles y Posiciones</h3>

                </div>

            </div>

        </div>
    </div>
</section>


</body>
</html>
